
body {
    font-family: 'Roboto'
    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*color: #888;*/
    /*line-height: 30px;*/
    /*text-align: center;*/
}

.loginPage{
  background-image: url('../images/1.jpg');
}


/* Styles for Chart */
.chart{
  height: 200px;
  margin: 10px;
}
strong { font-weight: 500; }

a, a:hover, a:focus {
	/*color: #4aaf51;*/
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #4aaf51; color: #fff; text-shadow: none; }
::selection { background: #4aaf51; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

#spinner {
    opacity: .6;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background: url("../images/loading.gif") no-repeat center #fff;
    text-align: center;
    z-index: 2;
}


/* Style for Grid */
.grid {
    width: 400px;
    height: 180px;
  }
.grid1 {
  width: 100%;
  height: 170px;
}
.dataDetails {
  text-align: left !important;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}
/* end of grid */

/* Overview state styles */

.glyphicon.glyphicon-one-fine-full-dot-green:before {
    content:"\25cf";
    font-size: 1em;
    color: #1f2;
}
.glyphicon.glyphicon-one-fine-full-dot-red:before {
    content:"\25cf";
    font-size: 1em;
    color: #f22;
}
.thingLatesteventData .panel-heading {
  background-color: #0c0c0c;
  color: #FDFFFC;
}
.thingLatesteventData .panel-heading h3 {
  font-weight: bold;
  font-size: 16px;
}
.thingLatesteventData .panel-primary {
  border-color: #0c0c0c;
}
.thingLatesteventData .borderless td, .thingLatesteventData .borderless th {
    border: none;
}

.thingLatesteventData h3, .thingsGraphs h3 {
  display: inline-block;
}
.thingLatesteventData .glyphicon-refresh, .thingsGraphs .glyphicon-refresh {
  font-size:1.5em;
  cursor: pointer;
}
.thingLatesteventData .inline {
  display: inline;
}
.thingsGraphs > .panel-heading {
  background-color: #0c0c0c;
  color: #FDFFFC;
}
.thingLatesteventData table, .thingsGraphs table {
  margin-bottom: 0px;
}
/* End of Overview state styles */

/* Styles for Navbar */
.navbar-default {
    background-color: #20BF55 !important;
    border-bottom-color: #fff;
    /*border-color: #3C3C3C;
  /*  min-height: 80px;*/
}

.navbar-default .brand{
    color: #0C0000;
}
.navbar-header {
  width: 200px;
}
.navbar-brand {

  width: 100%;
  padding: 7px;
}

.navbar-brand > * {
  color: #eee;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Roboto Slab';
  margin: 0px;
  display: inline-block !important;
  vertical-align: middle;
}
.navbar-default .navbar-nav>.active>a {
  background-color: #fff;
  border-color: #f8f8f8;
  border-bottom-color: #fff;
  color: #0c0c0c;
  font-weight: bold;
}
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #FFF;
  border-bottom-color: #FFF;
  color: #0c0c0c;
}
.navbar-default .menus > li > a {
  padding-top: 20px;
  padding-bottom: 19px;
  font-size: 18px;
}

.navbar-inverse {
    margin-top: -24px;
  }
.navbar-default .badge{
  margin-left: -10px;
  margin-top: -35px;
  background-color: #FFC107;
  color: #0C0000;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

/* End of navbar styles */

/* Tabs in Overview */
div.content {
  margin-top: 20px;
}
.overviewTabs a{
  color: #0c0c0c ;
  font-size: 16px;
}
.overviewTabs li.active a {
  font-weight: bold;
  color: #20BF55 !important;
  border-color: #20BF55 !important;
  border-bottom-color: transparent  !important;
}
.overviewTabs li.active a:hover {
  border-color: #20BF55 !important;
  border-bottom-color: transparent  !important;
}
.tab-content {
    border-left: 1px solid #20BF55;
    border-right: 1px solid #20BF55;
    border-bottom: 1px solid #20BF55;
    padding: 10px;
    overflow: auto;
}
.overviewTabs .nav-tabs {
  border-color: #20BF55;
}
.nav-tabs {
    margin-bottom: 0;

}
/* end of Tabs */

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

}
