<div class="Alerts" ng-if="alertsData.length>0">
  <div class="text-left">Showing <select ng-model="pagination.pageSize" ng-options="option as option for option in ['10', '25', '50', '75', '100']" ng-change="pagination.changePageSize()">
  </select> entries</div>
  <div ui-grid="gridOptions"></div>
  <a ng-click="pagination.previousPage()" role="button" ng-disabled="pagination.pageNumber === 1"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
  Showing page {{pagination.pageNumber}} of {{pagination.getTotalPages()}}
  <a ng-click="pagination.nextPage()" role="button" ng-disabled="pagination.pageNumber === pagination.getTotalPages()"><i class="fa fa-chevron-circle-right fa-lg"></i></a>

</div>

<div ng-show="showingMessage">{{noData}}</div>

<div id="spinner" ng-show="isProcessing">
</div>
<!-- <button type="button" class="btn btn-success" ng-click="pagination.previousPage()" ng-disabled="pagination.pageNumber === 1">previous page</button>
 Showing {{pagination.pageNumber}} of {{pagination.getTotalPages()}}
 <button type="button" class="btn btn-success" ng-click="pagination.nextPage()" ng-disabled="pagination.pageNumber === pagination.getTotalPages()">next page</button>
