<div class="col-md-12">
  <uib-tabset active="active" class="overviewTabs">
    <uib-tab index="0" heading="Overview" ng-click="getDataForOverview()">
      <div class="content">
        <div ng-class="overviewMetricDisplay[$index]" ng-repeat="thing in things track by $index" ng-if="isOverviewLoaded">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{thing.name}}</h3>

            </div>
            <div class="panel-body">
              <table class="table table-responsive borderless" ng-if="$index < 2">
                <tr ng-repeat="metric in thing.metrics">
                  <th>{{metric.abbreviation}}</abbr></th>
                  <td>{{metric.latestvalue}}</td>
                </tr>
              </table>
              <div class="col-md-6" ng-if="$index == 2">
                <table class="table borderless">
                  <tr ng-repeat="metric in thing.metrics" ng-if="$index < 3">
                    <th>{{metric.abbreviation}}</abbr></th>
                    <td>{{metric.latestvalue}}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6" ng-if="$index==2">
                <table class="table borderless col-md-6" >
                  <tr ng-repeat="metric in thing.metrics" ng-if="$index >= 3">
                    <th>{{metric.abbreviation}}</abbr></th>
                    <td>{{metric.latestvalue}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div ng-class="panel[$index].parent" ng-repeat="thing in things track by $index" ng-if="isOverviewLoaded && thing.event_data.length > 0">
          <div class="thingsGraphs panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{thing.name}}</h3>
              <span class="glyphicon glyphicon-refresh pull-right" ng-click="refreshThingData(thing,$index,true)"></span>
            </div>
            <div class="panel-body">
              <div ng-repeat="option in thing.graphOption" ng-show="showGraphArea">
                <div ng-class="panel[$parent.$index].child">
                  <div class="panel panel-primary graphs">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{option.series[0].label}}</h3>
                    </div>
                    <div class="panel-body">
                      <div class="my-chart">
                        <linechart data="thing.graphData" options="option" class='graph'></linechart>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary" ng-if="tickets.length>0">
            <div class="panel-heading">
              <h3 class="panel-title">{{currentThingName}} Tickets</h3>

            </div>
            <div class="panel-body">
              <div class="Tickets" >
                Showing {{gridOptions.data.length}} tickets of {{tickets.length}}
                <div ui-grid="gridOptions" class="grid1"></div>
                <a ui-sref="home.tickets" ng-click='sharedData.currentThingName=\'All Tickets\'' class="btn btn-group-justified btn-primary">More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="$index + 1" ng-repeat="thing in things" active="tab.active" disable="tab.disabled" ng-click="callApiForGettingData(thing, $index)">
      <uib-tab-heading>
        {{thing.name}}
        <span class="glyphicon glyphicon-one-fine-full-dot-green pull-right" ng-if="thing.alive"> </span>
        <span class="glyphicon glyphicon-one-fine-full-dot-red pull-right" ng-if="!thing.alive"> </span>
      </uib-tab-heading>

      <span>{{message}}</span>
      <div class="content">

        <div class="col-md-4">
          <div class="panel panel-primary" ng-if="thingData.name === 'UPS'">
            <div class="panel-heading">
              <h3 class="panel-title">UPS Details</h3>
            </div>
            <div class="panel-body">
              <div class="table-responsive text-center">
                <table class="table table-bordered">
                  <tr>
                    <th>UPS Serial Number</th>
                    <td>{{thingData.user_defined_properties.UPS_Serial_Number}}</td>
                  </tr>
                  <tr>
                    <th>UPS Manufacturer Name</th>
                    <td>{{thingData.user_defined_properties.UPS_Manufacturer_Name}}</td>
                  </tr>
                  <tr>
                    <th>UPS Capacity (inVA)</th>
                    <td>{{thingData.user_defined_properties.UPS_Capacity}}</td>
                  </tr>
                  <tr>
                    <th>Battery Serial Number</th>
                    <td>{{thingData.user_defined_properties.Battery_Serial_Number}}</td>
                  </tr>
                  <tr>
                    <th>Battery Model</th>
                    <td>{{thingData.user_defined_properties.Battery_Model}}</td>
                  </tr>
                  <tr>
                    <th>Battery Capacity(hour-rate)</th>
                    <td>{{thingData.user_defined_properties.Battery_Capacity}}</td>
                  </tr>
                  <tr>
                    <th>UPS Purchase Date</th>
                    <td>{{thingData.user_defined_properties.UPS_Purchase_Date}}</td>
                  </tr>
                  <tr>
                    <th>UPS Commission Date</th>
                    <td>{{thingData.user_defined_properties.UPS_Commission_Date}}</td>
                  </tr>
                  <tr>
                    <th>Battery Purchase Date</th>
                    <td>{{thingData.user_defined_properties.Battery_Purchase_Date}}</td>
                  </tr>
                  <tr>
                    <th>Battery Commission Date</th>
                    <td>{{thingData.user_defined_properties.Battery_Commission_Date}}</td>
                  </tr>
                  <tr>
                    <th>Location</th>
                    <td>{{thingData.user_defined_properties.Location}}</td>
                  </tr>
                  <tr>
                    <th>Contact</th>
                    <td>{{thingData.user_defined_properties.Contact}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-primary" ng-if="thingData.name === 'Tank'">
            <div class="panel-heading">
              <h3 class="panel-title">Tank Details</h3>
            </div>
            <div class="panel-body">
              <div class="table-responsive text-center">
                <table class="table table-bordered">
                  <tr>
                    <th>Block</th>
                    <td>{{thingData.user_defined_properties.Block}}</td>
                  </tr>
                  <tr>
                    <th>Building Name</th>
                    <td>{{thingData.user_defined_properties.Building_Name}}</td>
                  </tr>
                  <tr>
                    <th>Facility Name</th>
                    <td>{{thingData.user_defined_properties.Facility_Name}}</td>
                  </tr>
                  <tr>
                    <th>Location</th>
                    <td>{{thingData.user_defined_properties.Location}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-primary" ng-if="thingData.name === 'Building'">
            <div class="panel-heading">
              <h3 class="panel-title">Building Details</h3>
            </div>
            <div class="panel-body">
              <div class="table-responsive text-center">
                <table class="table table-bordered">
                  <tr>
                    <th>Building Name</th>
                    <td>{{thingData.user_defined_properties.Building_Name}}</td>
                  </tr>
                  <tr>
                    <th>Facility Name</th>
                    <td>{{thingData.user_defined_properties.Facility_Name}}</td>
                  </tr>
                  <tr>
                    <th>Floor</th>
                    <td>{{thingData.user_defined_properties.Floor}}</td>
                  </tr>
                  <tr>
                    <th>Location</th>
                    <td>{{thingData.user_defined_properties.Location}}</td>
                  </tr>
                  <tr>
                    <th>Block</th>
                    <td>{{thingData.user_defined_properties.Block}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div ng-repeat="option in graphOption" ng-show="showGraphArea && !isOverviewLoaded">
          <div class="thingLatesteventData col-md-4">
            <div class="panel panel-primary graphs">
              <div class="panel-heading">
                <h3 class="panel-title">{{option.series[0].label}}</h3>
                <span class="glyphicon glyphicon-refresh pull-right" ng-click="refreshThingData(things[currentThingIndex],currentThingIndex)"></span>
              </div>
              <div class="panel-body">
                <div class="my-chart">
                  <linechart data="graphData" options="option" class='graph'></linechart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary" ng-if="tickets.length>0">
            <div class="panel-heading">
              <h3 class="panel-title">{{currentThingName}} Tickets</h3>

            </div>
            <div class="panel-body">
              <div class="Tickets" >
                Showing {{gridOptions.data.length}} tickets of {{tickets.length}}
                <div ui-grid="gridOptions" class="grid"></div>
                <a ui-sref="home.tickets" class="btn btn-group-justified btn-primary">More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <span ng-if="tickets.length==0">Currently no Tickets has been logged for this sensor.</span> -->
    </uib-tab>
  </uib-tabset>
  <div id="spinner" ng-show="isProcessing">
  </div>
</div>
