<div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">


      <!-- <a class="navbar-brand" href="#"> -->

      <!-- </a> -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-0" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="home.dashboard" class="navbar-brand">
        <img alt="Brand" src="dist/images/wipro_Logo.svg.png" height="40px" width="40px">
        <h3>Altizon</h3>
      </a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-0">
      <ul class="nav navbar-nav menus">
        <li ng-class="active[0]"><a ng-click="updateActiveTab(0)" ui-sref="home.dashboard"><i class="fa fa-home"></i> Dashboard <span class="sr-only">(current)</span></a></li>
        <li ng-class="active[1]"><a ng-click="updateActiveTab(1)" ui-sref="home.alerts"><i class="fa fa-bell"></i> Alerts</a></li>
        <li ng-class="active[2]"><a ng-click="updateActiveTab(2)" ui-sref="home.tickets"><i class="fa fa-ticket"></i> Tickets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown show-on-hover"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell-o fa-2x"></i><span class="badge" ng-show="isShowing">{{showCountInNotification}}</span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="message in messages track by $index" ng-if="messages.length > 0">
              <a><span><i class="fa fa-exclamation-triangle"></i></span>
              {{message}}</a>
            </li>
            <li class="divider"></li>
            <li><a ng-click="goAlertsPage()">Show All Alerts</a></li>
          </ul>
          </li>
        <li class="dropdown show-on-hover">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-2x"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a>User</a></li>
            <li><a>Edit Profile</a></li>
            <li><a>Change Password</a></li>
            <li class="divider"></li>
            <li><a ng-click="logOutUser()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  <!--  <button class='btn btn-danger btn-xs exit-btn pull-right' ng-click="logOutUser()">
      <i class="fa fa-sign-out"></i>

      <i class="fa fa-camera-retro"></i>
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </button>-->
  </div>
</nav>
</div>

<div class="container-fluid">
  <div ui-view="pagesContain"></div>
</div>
