
<div class="dropdown">
  <button class="btn btn-primary btn-group-sm dropdown-toggle" type="button" id="ThingSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{currentThingName}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu cursor" aria-labelledby="ThingSelect">
    <li><a role="button" ng-click="changeTickets('All Tickets')">All Tickets</a></li>
    <li ng-repeat="thing in sharedData.things">
      <a role="button" ng-click='changeTickets(thing.name)'>{{thing.name}}</a>
    </li>
  </ul>
</div>
<div class="clearfix"></div>

<div class="Tickets text-center" ng-if="sharedData.tickets.length>0">
  <div class="grid1" ui-grid="gridOptions" ui-grid-infinite-scroll></div>
  <span class="dataDetails">Showing {{gridOptions.data.length}} tickets of {{sharedData.tickets.length}}</span>
  <!-- <a class="btn btn-primary col-sm-5 pull-right" ng-click="loadTickets()" ng-if="sharedData.tickets.length>displayTickets">
    More
  </a> -->
</div>
<div ng-if="sharedData.tickets.length==0">
  <p>No ticket data found for this Sensor</p>
</div>
<div id="spinner" ng-show="isProcessing">
</div>
